<div id='project'>
  <h1>{{project.project_title}}</h1>
  <h2>{{project.start_date}}</h2>
  <h3>Tasks:</h3>
  <ul>
    {{#each tasks}}
      <li><a href="/#/tasks/{{id}}">{{title}}</a></li>
    {{/each}}
  </ul>
  <button id="new-task-button" type="">New Task</button>
  <div class="new-task-form">
    {{> taskform-partial}}
  </div>
</div>
