<div class='form update'>
  <form id='user-update-form'>
    <fieldset>
      <label for='email'>
        <input type='text' id='email-reg' name='email' autofocus='true' />
        E-mail
      </label>
      <br>
      <label for='user_name'>
        <input type='text' id='user-name' name='user_name' autofocus='true' />
        User Name
      </label>
      <br>
      <label for='first_name'>
        <input type='text' id='first-name' name='first_name' autofocus='true' />
        First Name
      </label>
      <br>
      <label for='last_name'>
        <input type='text' id='last-name' name='last_name' autofocus='true' />
        Last Name
      </label>
      <br>
      <label for='password'>
        <input type='password' id='password-reg' name='password' />
        Password
      </label>
      <br>
      <label for='file'>
        <input type='file' name='file' id='file_upload' autofocus='true' />
        Profile Picture
      </label>
    </fieldset>

    <button type='submit'>Save</button>
  </form>
</div>
