div#sidebar {
  background: $sidebar-background;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  div#user {
    margin-left: 10px;
    img {
      height: 90px;
      width: auto;
      border-radius: 7px;
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
}


#sidebar {
  h1 {
    font-size: $x-large-font-size;
    text-align: center;
  }
  h2 {
    font-size: $large-font-size;
    text-align: center;
  }
  h3 {
    font-size: $large-font-size;
  }
}



